info:
  app:
    name: "PoliAI"
    version: "1.0.0"
    description: "Esse é nosso projeto de TCC para o curso de Tecnólogo em Análise e Desenvolvimento de Sistemas"

server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: polia-app-srv
  datasource:
    url: jdbc:postgresql://localhost:5432/polia_db
    username: polia_user
    password: polia_pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:equipamentosmatheus@gmail.com}
    password: ${MAIL_PASSWORD:hvnr ygfv bsnj pylg}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

jwt:
  secret: wu9VYp7NkD3Gq1rLv2xE5zP8cJ6bX9mQ0oA4fK7yH1tS5dF3gU6iW4nM2jR9eB0vC8lO5pI3hT7kY2
  expiration: 86400000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method